<div class="row">
    <div class="col-lg- col-lg-offset-3">
        <div class="panel panel-default" role="dialog" ng-controller="SpeakerCtrl">
            <form role="form" ng-submit="save();" enctype="multipart/form-data">
                <div class="panel-body" >
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" ng-model="form.Nombre" required/>
                    </div>
                    <div class="form-group">
                        <label>Información</label>
                        <input class="form-control" type="text" ng-model="form.Informacion" required/>
                    </div>
                    <div class="form-group">
                        <label>Google (G+)</label>
                        <input class="form-control" type="text" ng-model="form.Google" required/>
                    </div>
                    <div class="form-group">
                        <label>Facebook</label>
                        <input class="form-control" type="text" ng-model="form.Face" required/>
                    </div>
                    <div class="form-group">
                        <label>Github</label>
                        <input class="form-control" type="text" ng-model="form.Github" required/>
                    </div>
                    <div class="form-group">
                        <label>Foto</label>
                        <div class="btn btn-info" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'" ngf-max-size="20MB">Adjuntar</div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" type="reset">Cancelar</button>
                    <button class="btn btn-success" type="submit">{{(form.isEditando)?'Editar':'Guardar'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>